/*
STYLE SHEET FOR JEFF'S BLOG
2014
*/

	
#header-container {
	margin: 0 auto;
	width: 750px;
	text-align: center;
}

#content-container {
	width: 750px;
	margin: 120px auto 0;
	padding: 1px;
	text-align: center;
}
	
#header {
	background: #4D4DFF; /* Blue */
	font-family: "Lato", sans-serif;
	font-size: 22px;
	font-weight: 900;
	word-spacing: 7px;
	color: #fff; /* white */
	padding: 18px;
	/*border: 1px solid black;
	border-bottom: none;*/
}
	
.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-shadow {
text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black; 
}

#header h1 {
	margin: 0;
	padding: 25px;
}

#navbar {
	float: left;
	width: 750px;
	background: #29331F;  /* charcoal black */
	border-bottom: 150px;
}

#navbar ul {
	margin: 0;
	padding: 0;
}

#navbar ul li {
	list-style-type: none;
	display: inline;
}

#navbar li a {
	display: block;
	float: left;
	padding: 10px 58px;
	color: white;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	border-right: 1px solid #fff;   /* white */
}

#navbar li a:hover {
	background: #4C4C33; /* gray */
	color: black;
}

#navbar li:first-child a {
	padding-left: 75px;
}


/* remove border for last navbar element */
#navbar li:last-child a {
	border-right: none;
}

.post {
	margin: 50px 75px 60px;
	background: white;
	border-radius: 5px;
	/*outline: 1px solid black;*/
}

.post-title {
	padding: 15px 50px 15px;
	background: #FF0066;
	border-radius: 10px;
	color: #fff; /* white */
	font-family: "Lato", sans-serif;
	font-size: 24px;
	text-align: center;
	word-spacing: 10px;
	margin-bottom: 5px;
}

.post-video {
	padding: 10px 0 5px;
}

.post-date-created {
	text-align: center;
	font-size: 14px;
	font-family: "Oxygen", sans-serif;
	padding: 5px 0 8px;
}

.post-content {
	padding: 10px 15px;
	border-radius: 10px;
	background: #CCE0FF;
	text-align: left;
	font-family: "Oxygen", sans-serif;
	font-size: 17px;
	word-spacing: 2px;
	line-height: 140%;
}
