<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}
	{% load staticfiles %}
	<title> Jeff's Blog </title>
	<link type="text/css" rel="stylesheet" href="{% static 'Blog/css/blogstylesheet.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400' rel='stylesheet' type='text/css'>
	{% block stylesheets %}
	{% endblock %}
</head>
<body>
	{% load Blog_extras %}
	<div id = "header" class = "no-select text-shadow">
		<h1> JEFF'S BLOG. </h1>
	</div>
	<ul id = "navbar">
		<li><a href = "/"> Home </a></li>
		<li><a href = "/about_me"> About Me </a></li>
		<li><a href = "#">Projects</a>
			<ul>
				<li><a href = "/asteroid_field/"> Asteroids </a></li>
				<li><a href = "https://github.com/jeffh523/"> GitHub </a></li>
			</ul>
		</li>
		<li><a href = "#"> Contact </a></li>
	</ul>
	<div style = "clear:both"></div>
	<div id = "content-container">
		<div class="post">
			<h2 class="post-title no-select text-shadow">Contact Me</h2>
			<p class = "post-content">
			Contact info coming soon. Maybe.
			</p>
		</div>
	</div>
</body>
</html> 