<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}
	{% load staticfiles %}
	<title> Jeff's Blog </title>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="{% static 'Blog/bootstrap/css/bootstrap.min.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'Blog/bootstrap/js/bootstrap.min.js' %}"></script>
	{% block stylesheets %}
	{% endblock %}
</head>
<body>
	{% load Blog_extras %}
	<nav class = "navbar navbar-inverse">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href = "#">Jeff's Blog</a>
			</div>
			<div>
				<ul class = "nav navbar-nav">
					<li class = "active"><a href = "#"> Home </a></li>
					<li><a href = "/about_me"> About Me </a></li>
					<li class = "dropdown"><a class = "dropdown-toggle" data-toggle = "dropdown" href = "#">Projects <span class = "caret"></span></a>
						<ul class = "dropdown-menu">
							<li><a href = "/asteroid_field/"> Asteroids </a></li>
							<li><a href = "https://github.com/jeffh523/"> GitHub </a></li>
						</ul>
					</li>
					<li><a href = "/contact"> Contact </a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class = "container">
		<div class = "jumbotron text-center">
			<h1> Jeff's Blog </h1>
		</div>
	</div>
	<div class = "container">
	{% for post in posts %}
		<div class = "container">
			<div class = "text-center" style = "margin: 0 auto;">
				<h2>{{ post.title }}</h2>
				<div> 
				{{ post.videoURL|convert_youtube_to_embed|safe }} 
				</div> 
				<div>
					{{ post.dateCreated }}
				</div>
				<div style = "margin: 0 auto; max-width: 560px;"> 
				{{ post.content }}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</body>
</html> 