<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}
	{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static 'Blog/css/blogstylesheet.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>	{% block stylesheets %}
	{% endblock %}
</head>
<body>
	{% load Blog_extras %}
	<div id = "container">
		<div id = "header">
			<h1> JEFF'S BLOG. HECK YES. </h1>
		</div>
		<div id = "navbar">
			<ul>
				<!-- links to nowhere -->
				<li><a href = "#"> Home </a></li>
				<li><a href = "#"> About Me </a></li>
				<li><a href = "#"> Projects </a></li>
				<li><a href = "#"> Contact </a></li>
			</ul>
		</div>
		{% for post in posts %}
		<div class="post">
			<h2 class="postTitle">{{ post.title }}</h2>
			<div class="postVideo"> 
				{{ post.videoURL|convert_youtube_to_embed|safe }} 
			</div> 
			<div class="postDateCreated">
				{{ post.dateCreated }}
			</div>
			<div class="postContent"> 
				{{ post.content }}
			</div>
		</div>
		<br />
		{% endfor %}
	</div>
</body>
</html> 