<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}
	{% load staticfiles %}
	<title> Jeff's Blog </title>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="{% static 'Blog/bootstrap/css/bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'Blog/bootstrap/css/slate.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'Blog/bootstrap/js/bootstrap.min.js' %}"></script>
	{% block stylesheets %}
	{% endblock %}
</head>
<body>
	{% load Blog_extras %}
	<nav class = "navbar navbar-inverse">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href = "#">Jeff's Blog</a>
			</div>
			<div>
				<ul class = "nav navbar-nav">
					<li class = "active"><a href = "#"> Home </a></li>
					<li><a href = "/about_me"> About Me </a></li>
					<li class = "dropdown"><a class = "dropdown-toggle" data-toggle = "dropdown" href = "#">Projects <span class = "caret"></span></a>
						<ul class = "dropdown-menu">
							<li><a href = "/asteroid_field/"> Asteroids </a></li>
							<li><a href = "https://github.com/jeffh523/"> GitHub </a></li>
						</ul>
					</li>
					<li><a href = "/contact"> Contact </a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class = "container">
		<div class = "jumbotron text-center">
			<div class = "row">
			<div class = "col-lg-4"></div>
				<div class = "col-lg-4">
					<h1 style = "padding-top: 3%;">Jeff's Blog</h1>
				</div>
				<div class = "col-lg-4">
					<img src = "{% static 'Blog/images/warrior.jpg' %}" class = "img-circle" width = "200" height = "168">
				</div>
			</div>
		</div>
	</div>
	{% for post in posts %}
	<div class = "container text-center" style = "margin: 0 auto; max-width: 700px;">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>{{ post.title }}</h3></div>
		</div>
		<div>{{ post.videoURL|convert_youtube_to_embed|safe }}</div>
		<div>{{ post.dateCreated }}</div>
		<p class = "text-justify"> 
			{{ post.content }}
		</p>
		<br>
	</div>
	{% endfor %}
	<footer class = "panel-footer">
		<div class = "container">
			<p> Jeff's Blog. 2015. </p>
		</div>
	</footer>
</body>
</html> 